
* {
	padding: 0px;
	margin: 0px;
	border: none;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */
a, a:link, a:visited  {
    color: blue;
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}


/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

body::-webkit-scrollbar {
    width:5px;
    background-color: #646464;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
  }
  
  body::-webkit-scrollbar-thumb {
    padding: 0 1px;
    background-color: rgb(0, 195, 255);
    border-radius: 3px;
  }
  
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #f0f0f0;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 2px solid grey;
    background-color: white;
}

.logo {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.logopic img{
    width: 100px;
    height: 90px;
}
.logotext {
    color: blue;
    font-weight: bolder;
}
.menu {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    
}
.login a {
    text-decoration: none;
}

main {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
h2 {
    font-size: 40px;
    text-align: center;
    color: #0926ca;

}
.appblock{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 1700px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.app{
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
    border-bottom: 2px solid cyan;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}
.app h3 {
    color: grey;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}
.apptitle {
    color: blue;
    font-size: 30px;
    text-align: center;
    height: 15%;

}
.desc {
    height: 70%;
}
.status {
    text-align: center;
    height: 15%;
}
.appcreate{
    text-align: center;
    border-bottom: 2px solid cyan;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 25px;
    transition: .3s;
}
.appcreate:hover {
    background-color: lightblue;
}
footer {
    margin-top: 100px;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
}

footer span {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #8D8D8D;
    align-items: center;
    width: 40px;
}
.form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    width: 400px;
    font-size: 25px;
}
.form label {
    padding-left: 10px;
    font-size: 21px;
}
.form-input {
    font-size: 25px;
    padding-left: 10px;
    border: 1px solid lightskyblue;
    border-radius: 15px;
    margin-bottom: 20px;
}
.form-btn {
    font-size: 25px;
    width: 300px;
    align-self: center;
}
.message {
    margin-top: 10px;
    padding-top: 10px;
    align-self: center;
    text-align: center;
    width: 300px;
    height: 40px;
    background-color: lightcoral;
    border-bottom: 3px solid red;
    border-radius: 30px;
    color: rgb(82, 17, 17);
}

table {
    margin-top: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}
th {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}
td {
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}
tr:hover td {
    color: #6699ff;
}

.create-input{
    font-size: 20px;
    width: 90%;
}
.createapptitle{
    height: 18%;
}
.createappdesc{
    height: 70%;
}
.textarea{
    font-size: 20px;
}
.createapp {
    height: 600px;
}
.solved {
    color: green;
}
.canceled {
    color: red;
}
